.inputForm {
  width: 100vw;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  padding: 6rem;
  border-radius: 5px;
  background: rgb(247, 249, 252);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form {
  margin: 1rem;
}
.form__input {
  width: 300px;
}
input[name="email"] {
  width: 300px;
  transition: width 0.3s ease-in-out;
}

.btn__container {
  justify-content: center;
}
.btn {
  margin-left: 0rem;
}
.login {
  font-size: small;
}
.signup-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.5rem;
}

.test{
  font-size:1.2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:1rem;
}

@media screen and (max-width: 400px) {
  .inputForm {
    height: calc(100vh - 15rem);
  }
  .box {
    padding: 3rem;
  }
  .form__input {
    width: 200px;
  }
  input[name="email"] {
    width: 200px;
    transition: width 0.3s ease-in-out;
  }

  input[name="email"]:focus,
  input[name="email"]:valid {
    width: 200px;
  }
}
